matplotlib
numpy
pandas
python-dotenv
seaborn
streamlit
huggingface-hub
langchain-huggingface
apikey
langchain_community
langchain
langchain_core
langchain_experimental
pydantic
tabulate
streamlit_chat
sentence_transformers
unstructured
unstructured_inference
libmagic
tesseract
pinecone-client
wikipedia
# python-poppler